html{
	height:100%;
}
body{
	height:100%;
}
#wrapper{
	height:100%;
}
#right-wrapper{
	background-color:yellow;
	float:right;
	width:300px;
	height:100%;
	text-align:center;
	font-size:25px;
	vertical-align:middle;
}
/* ギャラリー設定 */
#gallery{
	list-style:none; /*箇条書きの・を削除*/
	overflow:hidden;
	padding-left:0;
}
#gallery li{
	float: left; 
	width: calc(100%/3); /*リスト幅をビューポートの1/3で設定*/
	line-height: 0;/*行間をなくす⇒上下を詰める*/
}
#gallery img{
	display: block; /*imgタグの初期値はinline⇒blockで幅指定を出来るように*/
	width: 100%;    /*親要素liの幅：calc(100%/3)に合わせる*/
	height:auto;
}